.list {
    width: 100%;
    max-width: 780px;
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.tile {
    margin: 10px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.title {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    z-index: 100;
}

.image-wrapper {
    position: relative;
    padding-bottom: 56.2%;
}

.image-wrapper img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (min-width: 990px) {
    .container {
        max-width: 780px;
    }
    
    .tile {
        max-width: 780px;
    }
}

.navbar .container {
    color: white;
    font-weight: bold;
}

.navbar {
    background-color: gray;
    border-radius: 0 0 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
