.button {
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    font-family: inherit;
    color: wheat;
}

.button:hover {
    text-decoration: underline;
}

.wrapper {
    width:100%;
    max-width: max-content;
}


@media screen and (min-width: 1280px) {
    .wrapper {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}