.login-panel {
    color:wheat;
    opacity: 0;
    animation: appears 1s ease-in forwards;
    margin: 100px auto;
    width: 400px;
    height: 400px;
    padding: 20px;
    box-sizing: border-box;
}

@keyframes appears {
  100%   {opacity: 1;}
}

.submit {
  margin-bottom: 5px;
}

.error {
  margin-top: 20px;
}