.backdrop {
    background-color: rgb(43, 43, 43);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backdrop img {
    opacity: 0.1;
    opacity: 0.5;
    transform: scale(80%);
    animation: appears 1s ease-in forwards infinite alternate;
}

@keyframes appears {
  100%   {transform: scale(100%);}
}